doctype html
html
  head
    title Call to Click Demo
    link(rel='stylesheet', href='/css/style.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    block scripts
  body
    main
      block header
        header.header
          h1 Welcome to Acme Inc Support!
      block content