extends default

block scripts
  script(src='/modules/nexmoClient.js')
  script(src='/js/client.js')
  

block content
  div.container
    p.colorful We pride ourselves on our award-winning support service.</p>
  button#btnCall.button-call Call Now!
  button#btnHangup.button-hangup Hang Up
